@using Domain.Entities;
@model WebUi.Models.InventoryControllerModel.OrderPayoonerViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<html>
    <body>
<div class="app-content main-content">
    <div class="side-app main-container">
        <div class="content-wrapper">
            <div class="content-body">
                <div class="b-overlay-wrap position-relative">
                    <!---->
                    <div data-v-0d352060="" class="card">
                        <!----><!---->
                        <div data-v-0d352060="" class="card-header">
                            <div data-v-0d352060="">
                                <h4 data-v-0d352060="" class="card-title"></h4> <!---->
                            </div> <i data-v-0d352060="" aria-expanded="true" aria-controls="3"
                                      class="code-toggler feather icon-code cursor-pointer"></i>
                        </div>
                        <div data-v-0d352060="" class="card-body">
                            <!----><!---->
                            <div data-v-0d352060="" class="row">
                                <div data-v-0d352060="" class="col-sm-12">
                                    <div data-v-0d352060="" class="row">
                                        <div data-v-0d352060="" class="col-sm-3">
                                            <div data-v-0d352060="" class="row">
                                                <svg data-v-0d352060=""
                                                     xmlns="http://www.w3.org/2000/svg" width="30px" height="30px"
                                                     viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                     stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                     class="feather feather-box">
                                                    <path data-v-0d352060=""
                                                          d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z">
                                                    </path>
                                                    <polyline data-v-0d352060="" points="3.27 6.96 12 12.01 20.73 6.96">
                                                    </polyline>
                                                    <line data-v-0d352060="" x1="12" y1="22.08" x2="12" y2="12"></line>
                                                </svg>
                                                <h3 data-v-0d352060=""> &nbsp; Products in the Box</h3>
                                            </div>
                                        </div>
                                        <div data-v-0d352060="">
                                            <div class="table-responsive" data-v-0d352060="">
                                                <table role="table" aria-busy="false" aria-colcount="10"
                                                       class="table b-table table-striped" id="__BVID__179">
                                                    <!----><!---->
                                                    <thead role="rowgroup" class="">
                                                        <!---->
                                                        <tr role="row" class="">
                                                            <th role="columnheader" scope="col" aria-colindex="1" class="">
                                                                <div>#</div>
                                                            </th>
                                                            <th role="columnheader" scope="col" aria-colindex="2" class="">
                                                                <div>Asin</div>
                                                            </th>
                                                            <th role="columnheader" scope="col" aria-colindex="3" class="">
                                                                <div>Product Name</div>
                                                            </th>
                                                            <th role="columnheader" scope="col" aria-colindex="4" class="">
                                                                <div>Location</div>
                                                            </th>
                                                            <th role="columnheader" scope="col" aria-colindex="5" class="">
                                                                <div>Daily Storage Fee</div>
                                                            </th>
                                                            <th role="columnheader" scope="col" aria-colindex="6" class="">
                                                                <div>Price</div>
                                                            </th>
                                                            <th role="columnheader" scope="col" aria-colindex="7" class="">
                                                                <div>A Weight</div>
                                                            </th>
                                                            <th role="columnheader" scope="col" aria-colindex="8" class="">
                                                                <div>Height</div>
                                                            </th>
                                                            <th role="columnheader" scope="col" aria-colindex="9" class="">
                                                                <div>In Stock</div>
                                                            </th>
                                                            <th role="columnheader" scope="col" aria-colindex="10" class="">
                                                                <div>Actions</div>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody role="rowgroup">
                                                        <!---->
                                                        <tr role="row" class="">

                                        @foreach (var item in (List<Product>)ViewBag.Orders)
                                                {


                                                <tr>
                                                        <td>
                                                            <form asp-action="Index" asp-controller="EditProduct" >
                                                                            <a class="btn btn-info" id=@item.Id type="submit" asp-route-id="@item.Id" asp-action="Index" asp-controller="EditProduct">Edit</a>

                                                    </form>
                                                        @*<script>
                                                            $("#@item.Id").click(function(){
                                                                
                                                                   
                                                            });

                                                               
                                                                
                                                        </script>*@
                                                       
                                                    </td>
                                                    <td aria-colindex="2" role="cell" class="">@item.Id</td>
                                                    <td aria-colindex="2" role="cell" class="">@item.AsinCode</td>
                                                    <td aria-colindex="3" role="cell" class="">@item.Name</td>
                                                    <td aria-colindex="4" role="cell" class="">USA</td>
                                                    <td aria-colindex="6" role="cell" class="">@item.TotalPrice</td>
                                                    <td aria-colindex="7" role="cell" class="">@item.Weight</td>
                                                    <td aria-colindex="8" role="cell" class="">@item.Height</td>
                                                    <td aria-colindex="9" role="cell" class="">@item.ExpectedStockAmount</td>
                                                    <td aria-colindex="10" role="cell" class="">@item.ExpectedTotalPrice$</td>
                                                </tr>
                                                }


                                                        <!----><!---->
                                                    </tbody><!---->
                                                </table>
                                            </div>
                                        </div>
                                        <div data-v-0d352060="" class="col-sm-1"></div>
                                    </div> <br data-v-0d352060="">
                                    <hr data-v-0d352060=""><br data-v-0d352060="">
                                    <div data-v-0d352060="" class="container-fluid"></div>
                                </div>
                            </div>
                            <div data-v-0d352060="" class="row border">
                                <div data-v-0d352060="" class="container-fluid pt-2 pb-2 text-center mb-2">
                                    <div data-v-0d352060="" class="row text-bold">
                                        <div data-v-0d352060="" class="float-left col-3">Total Number of Products</div>
                                        <div data-v-0d352060="" class="float-left col-3">Total Actual Weight(lbs)</div>
                                        <div data-v-0d352060="" class="float-left col-3">
                                            Total Dimensional Weight(lbs)
                                        </div>
                                        <div data-v-0d352060="" class="float-left col-3">Total Package Value(USD)</div>
                                    </div>
                                    <div data-v-0d352060="" class="row">
                                        <div data-v-0d352060="" class="float-left col-3">
                                            <button data-v-0d352060=""
                                                    type="button" disabled="disabled"
                                                    class="btn btn-outline-dark disabled">
                                                <span data-v-0d352060=""
                                                      class="align-middle">
                                                    @ViewBag.ProductAmount
                                                </span>
                                            </button>
                                        </div>
                                        <div data-v-0d352060="" class="float-left col-3">
                                            <button data-v-0d352060=""
                                                    type="button" disabled="disabled"
                                                    class="btn btn-outline-dark disabled">
                                                <span data-v-0d352060=""
                                                      class="align-middle">
                                                    @ViewBag.ProductTotalActualWeight
                                                </span>
                                            </button>
                                        </div>
                                        <div data-v-0d352060="" class="float-left col-3">
                                            <button data-v-0d352060=""
                                                    type="button" disabled="disabled"
                                                    class="btn btn-outline-dark disabled">
                                                <span data-v-0d352060=""
                                                      class="align-middle">
                                                    @ViewBag.ProductTotalDimensionalWeight
                                                </span>
                                            </button>
                                        </div>
                                        <div data-v-0d352060="" class="float-left col-3">
                                            <button data-v-0d352060=""
                                                    type="button" disabled="disabled"
                                                    class="btn btn-outline-dark disabled">
                                                <span data-v-0d352060=""
                                                      class="align-middle">
                                                    @ViewBag.ProductTotalPrice
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-v-0d352060="" id="3" class="card-code collapse" style="display: none;">
                                <div data-v-0d352060="" class="p-1"></div>
                                <pre data-v-0d352060=""
                                     class="language-markup"><code data-v-0d352060="" class="language-markup"></code></pre>
                            </div>
                        </div><!----><!---->
                    </div>
                        <div class="col-md-12 col-lg-6">
                          
                            <div class="card">
                                <div class="card-header border-bottom-0">
                                    <h3 class="card-title">Shipping Details</h3>
                                </div>     
                                <div class="card-body">
                                   
                                    
                               
                                 
                                    <div class="form-group ">
                                            <input type="text" id="PayoneerCode" class="form-control" placeholder="PayoneerCode">
                                    </div>
                                   
                                </div>
                                    <div class="form-footer mt-2">
                                        <button type="submit" class="btn btn-primary"  onclick="okeyFunc()" >Siparişi Tamamla</button>
                                    </div>

                            </div>
                        </div>
                        
                    </div><!---->
                </div>
            </div>
        </div>
    </div>
</div>
    <script>

        function okeyFunc()
        {
            var code = document.getElementById("PayoneerCode").value;

            Swal.fire({

                        title: 'Are you sure?',
                        text: "Siparişi Oluşturmak İstediğinize Emin Misiniz",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes'
                    }).then((result) => {
                        if (result.isConfirmed) {

                            $.ajax({

                        async: true,
                        data:{code},
                        type: "Post",
                        dataType: 'json',
                        url: "https://localhost:7111/NewShipmentFba/AddPayoneerCode",
                        beforeSend: function () {
                        },
                            })
                            Swal.fire(
                                'Oluşturuldu!',
                                'Siparişiniz Başarılı Bir Şekilde Oluşturuldu',
                                'success'
                            );
                            location.reload();
                        }
                    });
        }

       
    </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>