@using Domain.Entities;

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="app-content main-content" style="background-color:white">
    <div class="side-app main-container">
        <div data-v-0d352060="" class="card-body">
            <!----><!---->
            <div data-v-0d352060="" class="row">
                <div data-v-0d352060="" class="col-md-8">
                    <table data-v-0d352060="" class="table table-borderless">
                        <thead data-v-0d352060="" class="table-light">
                            <tr data-v-0d352060="">
                                <th data-v-0d352060="" scope="col">SERVICES</th>
                                <th data-v-0d352060="" scope="col" style="text-align: right;">COSTS</th>
                            </tr>
                            <tr>
                            </tr>
                        </thead>
                        <tbody  class="tablebodydisc">

                            @*<tr data-v-0d352060="">
                            <th data-v-0d352060="" scope="row">FNSKU Labeling</th>

                            <td data-v-0d352060="" style="text-align: right;">0.30$</td>
                            @foreach (var item in (List<Product>)ViewBag.SelectedProductList)
                            {

                            <td class="material-switch pull-right">

                            <input id="fnsku" name="someSwitchOption001" class="someSwitchOption" type="checkbox"/>

                            <label for="fnsku" class="label-success"></label>
                            </td>

                            <script>
                            document.getElementById("fnsku").addEventListener("change",function(){
                            if (this.checked) {
                            alert("açık");
                            //document.getElementById("priceFnsku").style.display="inline";
                            $.ajax({
                            async:true,
                            data: {  id: @item.Id,fnsku:1},
                            type: "POST",
                            dataType: 'json',
                            url: "/EditProduct/Index/",
                            beforeSend: function () {
                            },
                            success: function (data) {
                            if (data.success) {
                            console.log(data);
                            } else {

                            }
                            }
                            });
                            }
                            });



                            //$("#cengiz").click(function(){

                            //             $.ajax({
                            //                 type: "POST",
                            //                 dataType: 'json',
                            //                 url: "/EditProduct/Edit/",
                            //                 beforeSend: function () {
                            //                 },
                            //                 success: function (data) {
                            //                     if (data.success) {
                            //                         console.log(data);
                            //                     } else {

                            //                     }
                            //                 }
                            //             });

                            //});

                            </script>

                            }
                            </tr>*@
                            @*    <tr data-v-0d352060="">
                            <th data-v-0d352060="" scope="row">Box Labeling</th>
                            <td data-v-0d352060="" style="text-align: right;">$ 3</td>
                            <td class="material-switch pull-right">

                            <input id="boxlabeling" name="someSwitchOption001" class="someSwitchOption" type="checkbox" />

                            <label for="boxlabeling" class="label-success"></label>
                            <script>
                            document.getElementById("boxlabeling").addEventListener("change", function () {
                            if (this.checked) {
                            alert("açık");
                            //document.getElementById("priceFnsku").style.display="inline";
                            $.ajax({
                            async: true,
                            data: { boxlabeling: 1 },
                            type: "POST",
                            dataType: 'json',
                            url: "/EditProduct/Index/",
                            beforeSend: function () {
                            },
                            success: function (data) {
                            if (data.success) {
                            console.log(data);
                            } else {

                            }
                            }
                            });
                            }
                            });




                            </script>
                            </td>

                            </tr>*@
                            @* <tr data-v-0d352060="">
                            <th data-v-0d352060="" scope="row">Delivering to Carrier</th>
                            <td data-v-0d352060="" style="text-align: right;">$ 2</td>
                            </tr>*@
                            @* <tr data-v-0d352060="">
                            <th data-v-0d352060="" scope="row">Label Disassembly</th>
                            <td data-v-0d352060="" style="text-align: right;">Free</td>

                            </tr>
                            <tr data-v-0d352060="">
                            <th data-v-0d352060="" scope="row">Additional Labeling</th>
                            <td data-v-0d352060="" style="text-align: right;">0.25</td>
                            <td class="material-switch pull-right">

                            <input id="AdditionalLabeling" name="someSwitchOption001" class="someSwitchOption" type="checkbox" />

                            <label for="AdditionalLabeling" class="label-success"></label>
                            <script>
                            document.getElementById("AdditionalLabeling").addEventListener("change", function () {
                            if (this.checked) {
                            alert("açık");
                            //document.getElementById("priceFnsku").style.display="inline";
                            $.ajax({
                            async: true,
                            data: { AdditionalLabeling: 1 },
                            type: "POST",
                            dataType: 'json',
                            url: "/EditProduct/EditFnsku/",
                            beforeSend: function () {
                            },
                            success: function (data) {
                            if (data.success) {
                            console.log(data);
                            } else {

                            }
                            }
                            });
                            }
                            });




                            </script>
                            </td>
                            </tr>
                            *@
                            @*<tr data-v-0d352060="">
                            <th data-v-0d352060="" scope="row">Poly Bagging</th>
                            <td data-v-0d352060="" style="text-align: right;">$ 0.00</td>




                            </tr>
                            <tr data-v-0d352060="">
                            <th data-v-0d352060="" scope="row">Bundle</th>
                            <td data-v-0d352060="" style="text-align: right;">$ 0.00</td>
                            *@




                            @*<tr data-v-0d352060="">
                            <th data-v-0d352060="" scope="row">Expected Total Cost</th>
                            <td data-v-0d352060="" style="text-align: right;">@ViewBag.ExpectedTotalCost </td>
                            </tr>*@
                            </tr>


                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
                <td>Please Add Your Fnsku and BoxLabel Pdf.</td>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    <input id="productpdf" type="file" multiple class="form-control" accept="application/pdf" />
                   
                </div> <div class="col-4">
                <button id="pdfsave" class="btn btn-success" onclick="uploadPdf()" style="justify-content:center;">
                    Save Pdf
                </button>
                </div>
                </div>
                <div class="col-8">
                    <div class="row">
                    @for (int i = 0; i < ViewBag.Pdfs.Count; i++)
                    {
                        <div class="col-md-6">
                            <a target="_blank" href="@ViewBag.Pdfs[i].FilePath">
                               Pdf: @(i+1)
                            </a> <button class="btn btn-success" id="@ViewBag.ProductID" onclick="deletePdf()">Delete</button>
                        </div>
                       
                    }

                </div>
                </div>
            </div>

        </div>

    </div>
    <div data-v-0d352060="" class="card">
        <!----><!---->
        <div data-v-0d352060="" class="card-header">
            <div data-v-0d352060="">
                <h4 data-v-0d352060="" class="card-title"></h4> <!---->
            </div> <i data-v-0d352060="" aria-expanded="true" aria-controls="8"
                      class="code-toggler feather icon-code cursor-pointer"></i>
        </div>
        <div data-v-0d352060="" class="card-body">
            <!----><!---->
            <div data-v-0d352060="" class="row">
                <div data-v-0d352060="" class="col-md-12">
                    <h3 data-v-0d352060="" style="text-align: center; font-size: 20px; bottom: 30px;">
                        Düzenlenilen Ürün
                    </h3>
                </div>

            </div> <br data-v-0d352060=""> <!---->

            <div data-v-0d352060="">
                <div class="table-responsive" data-v-0d352060="">
                    <table role="table" aria-busy="false" aria-colcount="10"
                           class="table b-table table-striped" id="__BVID__179">
                        <!----><!---->
                        <thead role="rowgroup" class="">
                            <!---->
                            <tr role="row" class="">
                                <th role="columnheader" scope="col" aria-colindex="1" class="">
                                    <div>#</div>
                                </th>
                                <th role="columnheader" scope="col" aria-colindex="2" class="">
                                    <div>Id</div>
                                </th>
                                <th role="columnheader" scope="col" aria-colindex="2" class="">
                                    <div>Asin</div>
                                </th>
                                <th role="columnheader" scope="col" aria-colindex="3" class="">
                                    <div>Product Name</div>
                                </th>
                                <th role="columnheader" scope="col" aria-colindex="4" class="">
                                    <div>Location</div>
                                </th>

                                <th role="columnheader" scope="col" aria-colindex="6" class="">
                                    <div>Price</div>
                                </th>
                                <th role="columnheader" scope="col" aria-colindex="7" class="">
                                    <div>A Weight</div>
                                </th>
                                <th role="columnheader" scope="col" aria-colindex="8" class="">
                                    <div>Height</div>
                                </th>
                                <th role="columnheader" scope="col" aria-colindex="9" class="">
                                    <div>Quantity</div>
                                </th>
                                <th role="columnheader" scope="col" aria-colindex="10" class="">
                                    <div>Actions</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody role="rowgroup">
                            <!---->
                            <tr role="row" class="">


                                @foreach (var item in (List<Product>)ViewBag.SelectedProductList)
                                {


                                <tr>
                                    <td>

                                            @*<script>
                                    $("#@item.Id").click(function(){


                                    });



                                    </script>*@

                                    </td>
                                    <td aria-colindex="2" role="cell" class="">@item.Id</td>
                                    <td aria-colindex="2" role="cell" class="">@item.AsinCode</td>
                                    <td aria-colindex="3" role="cell" class="">@item.Name</td>
                                    <td aria-colindex="4" role="cell" class="">USA</td>
                                    <td aria-colindex="6" role="cell" class="">@item.TotalPrice</td>
                                    <td aria-colindex="7" role="cell" class="">@item.Weight</td>
                                    <td aria-colindex="8" role="cell" class="">@item.Height</td>
                                    <td aria-colindex="9" role="cell" class="">@item.ExpectedStockAmount</td>
                                    <td aria-colindex="10" role="cell" class=""></td>
                                </tr>
                                }


                            <!----><!---->
                        </tbody><!---->
                    </table>
                </div>
            </div>
            <div data-v-0d352060="" id="8" class="card-code collapse" style="display: none;">
                <div data-v-0d352060="" class="p-1"></div>
                <pre data-v-0d352060=""
                     class=" language-markup"><code data-v-0d352060="" class=" language-markup"></code></pre>
            </div>
        </div><!----><!---->
    </div>
    <div data-v-0d352060="" class="row mt-1" style="text-align: right;">
        <div data-v-0d352060="" class="col-md-6"></div>


        @*
        <form asp-action="EditFnsku" asp-controller="EditProduct">
        <button type="submit" class="btn btn-success">
        Gönderiyi Tamamla
        </button>
        </form><br data-v-0d352060=""><br data-v-0d352060=""> <!---->*@
        <form asp-action="Index" asp-controller="Inventory">
            <button class="btn btn-success" onclick="updateProduct()">
                Gönderiyi Tamamla
            </button>
        </form>
    </div>
</div>
<div data-v-0d352060="" id="2" class="card-code collapse" style="display: none;">
    <div data-v-0d352060="" class="p-1"></div>
    <pre data-v-0d352060=""
         class="language-markup"><code data-v-0d352060="" class="language-markup"></code></pre>
</div>
</div>
<script>
    const toBase64 = file => new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = error => reject(error);
    });
    function getExtension(path) {
        var basename = path.split(/[\\/]/).pop(),  // extract file name from full path ...
            // (supports `\\` and `/` separators)
            pos = basename.lastIndexOf(".");       // get last position of `.`

        if (basename === "" || pos < 1)            // if file name is empty or ...
            return "";                             //  `.` not found (-1) or comes first (0)

        return basename.slice(pos + 1);            // extract extension ignoring `.`
    }
   
    function updateProduct() {
        var discChecs = $(".disccheck");
        var data = { "ProductID": @ViewBag.ProductID};
        data.Discs = [];
        for (var k = 0; k < discChecs.length; k++) {

            var item = $(discChecs[k]);

            if (item.is(':checked')) {
                data.Discs.push({
                    "added": true,
                    "DiscountID": parseInt(item.data("discid"))
                });

            }

        }
        $.ajax({
            type: 'POST',
            url: 'http://localhost:5147/api/Product/updateDisc',
            data: JSON.stringify(data),
            success: function (data) {
                //location.reload();
            },
            contentType: "application/json",
            dataType: 'json'
        });

    }
    document.addEventListener("DOMContentLoaded", function () {
        var tablebodydisc = $(".tablebodydisc");

        $.ajax({
            async: true,
            data: { AdditionalLabeling: 1 },
            type: "GET",
            dataType: 'json',
            url: "http://localhost:5147/api/Product/getdisc?ProductID=" + @ViewBag.ProductID,
            beforeSend: function () {
            },
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    var item = data[i];
                    console.log(item);
                    var htmls = `<tr>
                                                                                  <th data-v-0d352060="" scope="row">`+ item.discount.name + `</th>

                                                                                            <td data-v-0d352060="" style="text-align: right;">`+ ((item.discount.multiplier ? '$' : '$') + item.discount.disc).replace("1.", "0.") + `</td>
                                                                                    <td class="material-switch pull-right">

                                                                                                        <input `+ (item.added ? 'checked' : '') + ` id="disc` + item.discount.id + `" name="disc` + item.discount.id + ` " class="someSwitchOption disccheck" data-discid="` + item.discount.id + ` " type="checkbox"/>

                                                                                        <label for="disc`+ item.discount.id + `" class="label-success"></label>
                                                                                        </td></tr>`;

                    tablebodydisc.prepend(htmls);
                }

            }
        });

    });
   async function uploadPdf() {
        var fileinput = $("#productpdf")[0];
        var files = fileinput.files;
        console.log(files);

        var formData = {};
        formData.files = [];
        for (var i = 0; i < files.length; i++) {
            var file = files[i];
            formData.files.push(
                {
                    "idfile": 1,
                    "file": await toBase64(file),
                    "name": getExtension(file.name)
                });
        }
        formData.ProductId = @ViewBag.ProductID;

        $.ajax({
            type: 'POST',
            url: 'http://localhost:5147/api/Product/AddPdf',
            data: JSON.stringify(formData),
            success: function (data) {
                location.reload();
            },
            contentType: "application/json",
            dataType: 'json'
        });

    }

    async function deletePdf() {
        var data = {"ProductID": @ViewBag.ProductID};
        $.ajax({
            type: 'Delete',
            url: 'http://localhost:5147/api/Product/DeletePdf',
            data: JSON.stringify(data),
            success: function (data) {
                location.reload();
            },
            contentType: "application/json",
            dataType: 'json'
        });

    }
</script>


